<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<!--     <link rel="stylesheet" type="text/css" href="resources/css/material.css" /> -->
<!--   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>asdasdasd


   	 <div th:text="${name}">123</div>
      <div class="card-panel teal lighten-2"><h3>Hello World!</h3></div>

<!-- <div lang="en" th:replace="fragments/footer :: footer"> </div> -->
</body>
</html>